.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.form {
    max-width: 400px;
    width: 100%;
    margin-top: 1rem;
    padding: 20px;
}

.inputContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.inputContainer input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}

.button {
    margin-top: 30px;
    background-color: yellow;
    color: black;
    border: 1px solid gray;
    padding: 10px 30px;
    width: 100%;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.links {
    margin-top: 15px;
}

.links a {
    color: white;
}

.button:hover {
    background-color: rgba(255, 230, 0, 0.664);
    transition: all ease-in-out 0.1s;
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 15px;
    margin-top: 3rem;
    padding: 10px;
}

.inputGridContainer {
    grid-column: span 3 / span 3;
}

.inputGridContainer input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}

.inputGridFull {
    grid-column: span 6 / span 6;
}

.inputGridFull input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}

.searchFilterContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 40px;
}

.dateContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.searchDateInput {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.searchDateInput input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}

.searchValueInput {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.searchValueInput input {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;

}

.searchValueInput input:focus {
    outline: none;

}

.searchBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
}

.searchBtn:hover {
    border: 2px solid white;
    transition: all ease-in-out 75ms;
}

.inputXMark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 0 15px 0 0;
    border: 1px solid gray;

}

.inputXMark:hover {
    outline: 1px solid yellow;
}

.clearText {
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    cursor: pointer;
}

.clearText:hover {
    font-weight: 600;
}

.homeBtnContainer {
    display: flex;
    justify-content: end;
    padding: 0 40px;
}
.searchContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}
@media only screen and (max-width: 900px) {
    .searchFilterContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
    }
    .dateContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 10px;
        max-width: 400px;
        width: 100%;
    }
    .searchContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        gap: 10px;
        max-width: 400px;
        width: 100%;
    }
    .searchDateInput {
        width: 100%;
    }
    .searchValueInput {
        width: 100%;
    }
}